#segn {
    width: 500px;
    max-width: 100%;
    height: 50px;
    max-height: 50%;
    background-color: #ffff00;
    border-radius: 20px;
}

.seg {
    justify-content: center;
    display: flex;
    margin-top: 20px;

}

.img>img {
    width: 300px;
    max-width: 100%;
}

.btn {
    margin-top: 10px;
}

.pom {
    margin: 5px;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    background-color: #ffff00;
}

.pom:hover {
    background-color: silver;
}

.pom1 {
    margin: 5px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #ffff00;
}

.pom1:hover {
    background-color: silver;
}

.boom {
    margin-top: 10px;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    justify-content: center;

}

.card {
    border: 2px solid slateblue;
    width: 350px;
    box-shadow: 20px 20px 20px black, -20px -20px 20px white;
    padding: 20px;
    margin-top: 50px;
    border-radius: 20px;
    background-color: white;
}

.card:hover {
    border: 2px solid black;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.692), -20px -20px 20px wheat;
}

.btn {
    justify-content: center;
    display: flex;
}

#h3 {
    height: 20px;
    font-size: 20px;
    border-radius: 10px;
}